@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/fonts/montserrat-v25-latin-italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Monument Extended';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/MonumentExtended-Regular.otf') format('opentype');
}
@font-face {
	font-display: swap;
	font-family: 'Liberation Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/fonts/LiberationSans-Italic-webfont.woff') format('woff');
}
@font-face {
	font-display: swap;
	font-family: 'Nimbus Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/fonts/NimbusSanL-RegIta-webfont.woff') format('woff');
}

/*  Edited version of CSS reset by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

ul,
ol {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

button,
input[type='”submit”'],
input[type='”reset”'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
