%btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: 0.3s;

	&:hover {
		color: $clr-primary-900;
		background-color: $clr-primary-100;
	}
}

.btn-sm {
	@extend %btn;
	padding: 1rem;
	height: 20px;
}

.btn-md {
	@extend %btn;
	font-size: $fs-300;
	padding: 1.6rem 1.8rem;
	height: 25px;
}

.btn-transparent {
	border: 1px solid $clr-primary-100;
	color: $clr-primary-100;
}

.btn-accent {
	background-color: $clr-accent-400;
}

.btn-borderless {
	color: $clr-primary-100;
}
