.track {
	display: grid;
	align-items: center;
	grid-template-columns: 2.5rem 2.5rem 1fr 3rem 2rem;

	@include lg {
		grid-template-columns: 3rem 3rem 1fr 5rem 2rem;
	}

	.play-button,
	.share-button {
		img {
			width: 1.125rem;
		}
	}

	&-title {
		line-height: 1.25;
	}
}
